@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Recipe/_LayoutRecipe.cshtml";
}
<script type="text/javascript">
   
</script>

<div ng-app="app" ng-controller="indexCtrl">
    <div class=" container-fluid">
    <div class="row" ng-view="">
       
     </div>

    <div class="row">
        <!--the main menu-->
        <div class="col-xs-12" >
            <nav class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container-fluid">
                    <div class="navbar-header">  
                        <a class="navbar-brand" href="#">Welcome</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav ">
                            <li class="dropup" >   
                                <a href="" ng-click="link('newRecipe')" class="navbar-brand">New Recipe</a>                               
                            </li>
                            <li class="dropup" >   
                                <a href="" ng-click="link('allRecipes')" class="navbar-brand">Recipes List</a>                               
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Sign In</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
    </div>
    <br />
    
   @* <a href="" ng-click="link('nutritionalValues')">nutritional Values</a>
    <a href="" ng-click="link('addProduct')">add product</a>*@
    
</div>


